# Node modules
node_modules/
npm-debug.log
yarn-error.log

# Build
dist/
build/

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Cache
.cache/
.vscode/
.DS_Store

# dummy
bulk_add_sample_notes.sh